.hidden {
    display : none
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
}

body #login-form {
    display: flex;
    position: absolute;
    left: 1vw;
}

body #login-form input:first-child {
    opacity: 0.7;
}
body #login-form input:last-child {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

body #todo-form {
    display: flex;
    position: absolute;
    right: 1vw;
}
body #todo-form input:first-child {
    display: flex;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 1vw;
}

body #todo-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    position: absolute;
    right: 5vw;
    top: 1.5vh;
    padding: 10px 10px;
}

body #clock {
    display: flex;
    font-size: 120px;
    margin-top: 30vh;
}

body #quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
}

body #weather {
    display: flex;
    position: absolute;
    top: 90vh;
    right: 2vw;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.5);
}

body #weather span {
    padding: 10px 20px;
}